body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../img/120809484-japanese-kimono-pattern-cherry-blossom-crane-birds-pine-tree-with-oriental-motifs-background-vector-.jpg");
    background-size: cover;
    background-attachment: fixed;
}

main {
    flex: 1 0 auto;
}

footer {
    position: sticky;
    bottom: 0;
}

.logo-img {
    max-height: 64px!important;
    padding: 15px 0!important;
}

#messMain {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.btn {
    z-index: 0;
}